<.hero></.hero>
<.component_list></.component_list>
<.menu>
  <.menu_button>Options</.menu_button>
  <.menu_items>
    <.menu_item>Dashboard</.menu_item>
    <.menu_item>Settings</.menu_item>
    <.menu_item>Account</.menu_item>
    <.menu_item>Help</.menu_item>
    <.menu_item>Sign out</.menu_item>
  </.menu_items>
</.menu>
