<.menu>
  <:menu_button>Options</:menu_button>
  <:menu_items>
    <div>Dashboard</div>
    <div>Settings</div>
    <div>Account</div>
    <div>Sign out</div>
  </:menu_items>
</.menu>

<.menu>
  <:menu_button>Options</:menu_button>
  <:menu_items>
    <div>Dashboard</div>
    <div>Settings</div>
    <div>Account</div>
    <div>Sign out</div>
  </:menu_items>
</.menu>
